<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELI-VERY DISPATCHER</title>
  <link rel="stylesheet" href="css/deli-very.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>
  <div id="orders">
    <div id="orderList">
      <div v-for="(order, key) in orders">        
        <div v-for="o in order" id="orderlist">
            <b>#{{o[0]}}:</b> {{o[2].join(", ")}}<br>
            <i>{{o[3].join(", ")}}</i><br>
            Position: {{o[1].x}}, {{o[1].y}}<br>
            <hr>
        </div>
      </div>
    </div>
    <div id="dots">
        <div v-for="(order, key) in orders" >
            <div v-for="o in order"
                v-bind:style="{ left: o[1].x + 'px', top: o[1].y + 'px'}">
              {{ o[0] }}
            </div>
        </div>
    </div>
  </div>
</body>
</html>